body {
	background:#F7F7F7;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align:justify;
}

.header {
	background:#33C3F0;
	padding:1%;
}

.footer {
	padding:2%;
}

input[type="submit"] {
	.button;
	background-color:#fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #02526B; 
}

h1 {
	margin-top: 40px; 
	margin-bottom: 0px;
}

strong {
	color:#1EAEDB;
}

a{
	font-weight:bold;
	color: #02526B; 
}

.container {
	padding:40px;
	background-color:#ffffff;
}

/* Text Decorations */
p {
	line-height:25px;
}

p.small {
	font-size:10px;
	display:inline;
}

/* Grid */

.rounded_corners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  
  content: "";
  display: table;
  clear: both;
}

.activity-child{
	width:40%;
}

.activity-5 {
	background-color:#13C0F4;
	.rounded_corners;
}
.activity-4 {
	background-color:#52CCF0;
	.rounded_corners;
}
.activity-3 {
	background-color:#82D6EF;
	.rounded_corners;
}
.activity-2 {
	background-color:#B3DFEC;
	.rounded_corners;
}
.activity-1 {
	background-color:#D7E8ED;
	.rounded_corners;
}

.activity-0 {
	background-color:#ffffff;
	.rounded_corners;
}